<div class="container">
  <h1>Deaf Grandma</h1>

  <span id="grandma_says"></span><br><br>
  <h1></h1>
  <form id="form">
    Say something to Grandma:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Say it!">
  </form>
</div>
